@model IEnumerable<TaxReceivableViewModel>
@using  GrantCountyAs400.Web.ViewModels.TreasurerVM.TaxReceivable

@using X.PagedList.Mvc.Core;
@using X.PagedList;
@{
    ViewData["Title"] = "Tax Receivable - Index";
    var filterViewModel = ViewBag.FilterViewModel as TaxReceivableFilterViewModel;
}

<h2>Tax Receivable</h2>

<p>
    @using (Html.BeginForm("Index", "TaxReceivable", FormMethod.Get))
    {
    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            <label asp-for="@filterViewModel.MinParcelNumber" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <input type="number" asp-for="@filterViewModel.MinParcelNumber" name="minparcelnumber" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="@filterViewModel.MaxParcelNumber" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <input type="number" asp-for="@filterViewModel.MaxParcelNumber" name="maxparcelnumber" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="form-group pull-right">
                    <input type="submit" value="Filter" class="btn btn-success" />
                    <input type="reset" value="Clear" class="btn btn-default" id="btnReset" />
                </div>
            </div>
        </div>
    </div>
    }
</p>

<nav aria-label="navigation">
    @Html.PagedListPager((IPagedList)Model, pageNumber => Url.Action("Index", new {
    pageNumber = pageNumber,
    minparcelnumber = filterViewModel.MinParcelNumber,
    maxparcelnumber = filterViewModel.MaxParcelNumber,
}))
</nav>
<table class="table">
    <thead>
        <tr>
            <th class="col-xs-3 col-md-2">
                @Html.DisplayNameFor(model => model.ParcelNumber)
            </th>
            <th>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaxpayerCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaxpayerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TitleOwnerCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TitleOwnerName)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-parcelNumber="@item.ParcelNumber" asp-route-parcelExtension="@item.ParcelExtension">
                        @Html.DisplayFor(modelItem => item.ParcelNumber)&nbsp;-&nbsp;@Html.DisplayFor(modelItem => item.ParcelExtension)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ParcelTypeDisplay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TaxpayerCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TaxpayerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TitleOwnerCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TitleOwnerName)
                </td>
            </tr>
        }
    </tbody>
</table>

<nav aria-label="navigation">
    @Html.PagedListPager((IPagedList)Model, pageNumber => Url.Action("Index", new {
    pageNumber = pageNumber,
    minparcelnumber = filterViewModel.MinParcelNumber,
    maxparcelnumber = filterViewModel.MaxParcelNumber,
}))
</nav>