@model GrantCountyAs400.Web.ViewModels.Assessment.LegalDescription.LegalDescriptionDetailsViewModel

@{
    ViewData["Title"] = Model.ParcelNumber + " - Details";
}

<div>
    <h2>@Html.DisplayFor(model => model.ParcelNumber)</h2>

    <div class="entity-details">
        <div class="entity-info clearfix">
            <div class="col-xs-6">
                <table class="table col-xs-6">
                    <tbody>
                        <tr>
                            <td><strong>@Html.DisplayNameFor(model => model.ParcelNumber) </strong></td>
                            <td class="text-right"><span> @Html.DisplayFor(model => model.ParcelNumber) </span></td>
                        </tr>
                        <tr>
                            <td><strong>Base Description </strong></td>
                            <td class="text-right">
                                <span> @Html.DisplayFor(model => model.Description1) </span><br />
                                <span> @Html.DisplayFor(model => model.Description2) </span><br />
                                <span> @Html.DisplayFor(model => model.Description3) </span><br />
                                <span> @Html.DisplayFor(model => model.Description4) </span><br />
                                <span> @Html.DisplayFor(model => model.Description5) </span><br />
                            </td>
                        </tr>
                        <tr>
                            <td><strong>@Html.DisplayNameFor(model => model.LegalDescrtiption) </strong></td>
                            <td class="text-right"><span> @Html.DisplayFor(model => model.LegalDescrtiption) </span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-xs-6">
                <table class="table col-xs-6">
                    <tbody>
                        <tr>
                            <td><strong>@Html.DisplayNameFor(model => model.TaxStatus) </strong></td>
                            <td class="text-right">
                                <span> @Html.DisplayFor(model => model.TaxStatus) </span>
                                <span> @Html.DisplayFor(model => model.TaxStatusDisplay) </span>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>@Html.DisplayNameFor(model => model.ChangeDate) </strong></td>
                            <td class="text-right"><span> @Html.DisplayFor(model => model.ChangeDate) </span></td>
                        </tr>
                        <tr>
                            <td><strong>@Html.DisplayNameFor(model => model.ChangeId) </strong></td>
                            <td class="text-right"><span> @Html.DisplayFor(model => model.ChangeId) </span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>