@model IEnumerable<LegalDescriptionViewModel>
@using GrantCountyAs400.Web.ViewModels.Assessment.LegalDescription
@using X.PagedList.Mvc.Core;
@using X.PagedList;

@{
    ViewData["Title"] = "Legal Descriptions - Index";
    var filterViewModel = ViewBag.FilterViewModel as LegalDescriptionFilterViewModel;
}

<h2>Legal Descriptions</h2>

<p>
    @using (Html.BeginForm("Index", "LegalDescription", FormMethod.Get))
    {
        <div class="form-horizontal">
            <hr />
            <div class="form-group">
                <label asp-for="@filterViewModel.ParcelNumber" class="control-label col-md-2"></label>
                <div class="col-md-10">
                    <input type="number" asp-for="@filterViewModel.ParcelNumber" name="parcelnumber" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="@filterViewModel.Name" class="control-label col-md-2"></label>
                <div class="col-md-10">
                    <input type="text" asp-for="@filterViewModel.Name" name="name" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <div class="form-group pull-right">
                        <input type="submit" value="Filter" class="btn btn-success" />
                        <input type="reset" value="Clear" class="btn btn-default" id="btnReset" />
                    </div>
                </div>
            </div>
        </div>
    }
</p>

<nav aria-label="navigation">
    @Html.PagedListPager((IPagedList)Model, pageNumber => Url.Action("Index", new {
    pageNumber = pageNumber,
}))
</nav>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ParcelNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descrtiption)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">
                        @Html.DisplayFor(modelItem => item.ParcelNumber)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descrtiption)
                </td>
            </tr>
        }
    </tbody>
</table>
<nav aria-label="navigation">
    @Html.PagedListPager((IPagedList)Model, pageNumber => Url.Action("Index", new {
    pageNumber = pageNumber,
}))
</nav>