@model GrantCountyAs400.Web.ViewModels.BuildingVM.BuildingPermitSystemAssessorApprovalViewModel

<div class="col-xs-6">
    <table class="table">
        <tbody>
            <tr>
                <td><strong>@Html.DisplayNameFor(model => model.ApplicantProjectDescription) </strong></td>
                <td class="text-right"><span> @Html.DisplayFor(model => model.ApplicantProjectDescription) </span></td>
            </tr>
            <tr>
                <td><strong>@Html.DisplayNameFor(model => model.Comments) </strong></td>
                <td class="text-right"><span> @Html.DisplayFor(model => model.Comments) </span></td>
            </tr>
            <tr>
                <td><strong>@Html.DisplayNameFor(model => model.ApprovedBy) </strong></td>
                <td class="text-right"><span> @Html.DisplayFor(model => model.ApprovedBy) </span></td>
            </tr>
            <tr>
                <td><strong>@Html.DisplayNameFor(model => model.UserID) </strong></td>
                <td class="text-right"><span> @Html.DisplayFor(model => model.UserID) </span></td>
            </tr>
            <tr>
                <td><strong>@Html.DisplayNameFor(model => model.ChangeDate) </strong></td>
                <td class="text-right"><span> @Html.DisplayFor(model => model.ChangeDate) </span></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="col-xs-6">
    <table class="table">
        <tbody>

            <tr>
                @{ var formattedParcelNumber = Model.AssessorParcelNumber.HasValue ? Model.AssessorParcelNumber.Value.ToString() : "";}
                <td><strong>@Html.DisplayNameFor(model => model.AssessorParcelNumber) </strong></td>
                <td class="text-right"><span> @Html.DisplayFor(model => formattedParcelNumber) </span></td>
            </tr>
            <tr>
                <td class="text-right"><span> @Html.DisplayFor(model => model.Name) </span></td>
            </tr>
            <tr>
                <td class="text-right"><span> @Html.DisplayFor(model => model.Description1) </span></td>
            </tr>
            <tr>
                <td class="text-right"><span> @Html.DisplayFor(model => model.Description2) </span></td>
            </tr>
        </tbody>
    </table>
</div>