@model GrantCountyAs400.Web.ViewModels.BuildingVM.BuildingPermitSystemCityApprovalViewModel

<div class="col-xs-6">
    <table class="table">
        <tbody>
            <tr>
                <td><strong>@Html.DisplayNameFor(model => model.ApplicantProjectDescription) </strong></td>
                <td class="text-right"><span> @Html.DisplayFor(model => model.ApplicantProjectDescription) </span></td>
            </tr>
            <tr>
                <td><strong>@Html.DisplayNameFor(model => model.CityCode) </strong></td>
                <td class="text-right"><span> @Html.DisplayFor(model => model.CityCode) </span></td>
            </tr>
            <tr>
                <td><strong>@Html.DisplayNameFor(model => model.ZoniongApproval) </strong></td>
                <td class="text-right"><span> @Html.DisplayFor(model => model.ZoniongApproval) </span></td>
            </tr>
            <tr>
                <td><strong>@Html.DisplayNameFor(model => model.UtilitiesApproval) </strong></td>
                <td class="text-right"><span> @Html.DisplayFor(model => model.UtilitiesApproval) </span></td>
            </tr>
            <tr>
                <td><strong>@Html.DisplayNameFor(model => model.Comments) </strong></td>
                <td class="text-right"><span> @Html.DisplayFor(model => model.Comments) </span></td>
            </tr>
            <tr>
                <td><strong>@Html.DisplayNameFor(model => model.ApprovedBy) </strong></td>
                <td class="text-right"><span> @Html.DisplayFor(model => model.ApprovedBy) </span></td>
            </tr>
            <tr>
                <td><strong>@Html.DisplayNameFor(model => model.UserID) </strong></td>
                <td class="text-right"><span> @Html.DisplayFor(model => model.UserID) </span></td>
            </tr>
            <tr>
                <td><strong>@Html.DisplayNameFor(model => model.ChangeDate) </strong></td>
                <td class="text-right"><span> @Html.DisplayFor(model => model.ChangeDate) </span></td>
            </tr>
        </tbody>
    </table>
</div>