@model GrantCountyAs400.Web.ViewModels.BuildingVM.BuildingPermitSystemDetailsSubPageTwoViewModel

<div class="panel-body">
    <div class="col-xs-6">
        <table class="table">
            <tbody>
                <tr>
                    <td><strong>@Html.DisplayNameFor(model => model.ContractorDisplay) </strong></td>
                    <td class="text-right"><span> @Html.DisplayFor(model => model.ContractorDisplay) </span></td>
                </tr>
                <tr>
                    <td><strong>@Html.DisplayNameFor(model => model.ArchitectDisplay) </strong></td>
                    <td class="text-right"><span> @Html.DisplayFor(model => model.ArchitectDisplay) </span></td>
                </tr>
                <tr>
                    <td><strong>@Html.DisplayNameFor(model => model.EngineerDisplay) </strong></td>
                    <td class="text-right"><span> @Html.DisplayFor(model => model.EngineerDisplay) </span></td>
                </tr>
                <tr>
                    <td><strong>@Html.DisplayNameFor(model => model.ApplicantProjectDescription) </strong></td>
                    <td class="text-right"><span> @Html.DisplayFor(model => model.ApplicantProjectDescription) </span></td>
                </tr>

            </tbody>
        </table>
    </div>
    <div class="col-xs-6">
        <table class="table">
            <tbody>
                <tr>
                    <td><strong>@Html.DisplayNameFor(model => model.EnforcementActionDisplay) </strong></td>
                    <td class="text-right"><span> @Html.DisplayFor(model => model.EnforcementActionDisplay) </span></td>
                </tr>
                <tr>
                    <td><strong>@Html.DisplayNameFor(model => model.PlotPlanReceived) </strong></td>
                    <td class="text-right"><span> @Html.DisplayFor(model => model.PlotPlanReceived) </span></td>
                </tr>
                <tr>
                    <td><strong>@Html.DisplayNameFor(model => model.OnlyStructureOnParcel) </strong></td>
                    <td class="text-right"><span> @Html.DisplayFor(model => model.OnlyStructureOnParcel) </span></td>
                </tr>
                <tr>
                    <td><strong>@Html.DisplayNameFor(model => model.OnlyResidenceOnParcel) </strong></td>
                    <td class="text-right"><span> @Html.DisplayFor(model => model.OnlyResidenceOnParcel) </span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>