
@model GrantCountyAs400.Web.ViewModels.BuildingVM.GradingExcavationPermitDetailViewModel

<div class="col-xs-12">
    <table class="table">
        <tbody>
            <tr>
                <td><strong>@Html.DisplayNameFor(model => model.ApplicationProjectDescription) </strong></td>
                <td class="text-right"><span> @Html.DisplayFor(model => model.ApplicationProjectDescription) </span></td>
            </tr>
            <tr>
                <td><strong>@Html.DisplayNameFor(model => model.OfficeProjectDescription) </strong></td>
                <td class="text-right"><span> @Html.DisplayFor(model => model.OfficeProjectDescription) </span></td>
            </tr>
            <tr>
                <td><strong>@Html.DisplayNameFor(model => model.CubicYardsOfFill) </strong></td>
                <td class="text-right"><span> @Html.DisplayFor(model => model.CubicYardsOfFill) </span></td>
                <td><strong>@Html.DisplayNameFor(model => model.PercentOfSlope) </strong></td>
                <td class="text-right"><span> @Html.DisplayFor(model => model.PercentOfSlope) </span></td>
                <td><strong>@Html.DisplayNameFor(model => model.SoilErosionControlRequired) </strong></td>
                <td class="text-right"><span> @Html.DisplayFor(model => model.SoilErosionControlRequired) </span></td>
            </tr>
            <tr>
                <td><strong>@Html.DisplayNameFor(model => model.DustAndTrackControlReceived) </strong></td>
                <td class="text-right"><span> @Html.DisplayFor(model => model.DustAndTrackControlReceived) </span></td>
                <td><strong>@Html.DisplayNameFor(model => model.DustAndTrackReceivedDate) </strong></td>
                <td class="text-right"><span> @Html.DisplayFor(model => model.DustAndTrackReceivedDate) </span></td>
            </tr>
            <tr>
                <td><strong>@Html.DisplayNameFor(model => model.EngineeringReceived) </strong></td>
                <td class="text-right"><span> @Html.DisplayFor(model => model.EngineeringReceived) </span></td>
                <td><strong>@Html.DisplayNameFor(model => model.EngineeringReceivedDate) </strong></td>
                <td class="text-right"><span> @Html.DisplayFor(model => model.EngineeringReceivedDate) </span></td>
            </tr>
            <tr>
                <td><strong>@Html.DisplayNameFor(model => model.FireDistrictCodeDisplay) </strong></td>
                <td class="text-right"><span> @Html.DisplayFor(model => model.FireDistrictCodeDisplay) </span></td>
            </tr>
            <tr>
                <td><strong>@Html.DisplayNameFor(model => model.FireFlowAlreadyProvided) </strong></td>
                <td class="text-right"><span> @Html.DisplayFor(model => model.FireFlowAlreadyProvided) </span></td>
                <td><strong>@Html.DisplayNameFor(model => model.AdditionalFireFlowRequired) </strong></td>
                <td class="text-right"><span> @Html.DisplayFor(model => model.AdditionalFireFlowRequired) </span></td>
                <td><strong>@Html.DisplayNameFor(model => model.AmountOfFireFlowRequired) </strong></td>
                <td class="text-right"><span> @Html.DisplayFor(model => model.AmountOfFireFlowRequired) </span></td>
            </tr>
            <tr>
                <td><strong>@Html.DisplayNameFor(model => model.BldgDeptSetback) </strong></td>
                <td class="text-right"><span> @Html.DisplayFor(model => model.BldgDeptSetback) </span></td>
                <td><strong>@Html.DisplayNameFor(model => model.FireMarshalSetback) </strong></td>
                <td class="text-right"><span> @Html.DisplayFor(model => model.FireMarshalSetback) </span></td>
            </tr>
            <tr>
                <td><strong>@Html.DisplayNameFor(model => model.ConditionExistInApcnDisplay) </strong></td>
                <td class="text-right"><span> @Html.DisplayFor(model => model.ConditionExistInApcnDisplay) </span></td>
                <td><strong>@Html.DisplayNameFor(model => model.ConditionExistInApinDisplay) </strong></td>
                <td class="text-right"><span> @Html.DisplayFor(model => model.ConditionExistInApinDisplay) </span></td>
            </tr>
            <tr>
                <td>
                    <strong>Building Department Approval</strong><br />
                    <strong>By</strong><br />
                    <strong>Date Approved</strong><br />
                    <strong>Change User</strong><br />
                    <strong>Change Date</strong><br />
                </td>
                <td class="text-right">
                    <br />
                    <span> @Html.DisplayFor(model => model.BldgDept.ApprovalBy) </span><br />
                    <span> @Html.DisplayFor(model => model.BldgDept.DateApproved) </span><br />
                    <span> @Html.DisplayFor(model => model.BldgDept.ApprovedUserId) </span><br />
                    <span> @Html.DisplayFor(model => model.BldgDept.ApprovedChangeDate) </span><br />
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Fire Marshal Approval</strong><br />
                    <strong>By</strong><br />
                    <strong>Date Approved</strong><br />
                    <strong>Change User</strong><br />
                    <strong>Change Date</strong><br />
                </td>
                <td class="text-right">
                    <br />
                    <span> @Html.DisplayFor(model => model.FireMarshal.ApprovalBy) </span><br />
                    <span> @Html.DisplayFor(model => model.FireMarshal.DateApproved) </span><br />
                    <span> @Html.DisplayFor(model => model.FireMarshal.ApprovedUserId) </span><br />
                    <span> @Html.DisplayFor(model => model.FireMarshal.ApprovedChangeDate) </span><br />
                </td>
            </tr>
        </tbody>
    </table>
</div>