@model GrantCountyAs400.Web.ViewModels.BuildingVM.BuildingPermitSystemDetailsHeaderViewModel

<div>
    <table class="table col-xs-6">
        <tbody>
            <tr>
                <td><strong>@Html.DisplayNameFor(model => model.JurisdictionDisplay) </strong></td>
                <td class="text-right"><span> @Html.DisplayFor(model => model.JurisdictionDisplay) </span></td>
            </tr>
            <tr>
                <td><strong>@Html.DisplayNameFor(model => model.ApplicationYearDisplay) </strong></td>
                <td class="text-right"><span> @Html.DisplayFor(model => model.ApplicationYearDisplay) </span></td>
            </tr>
    </table>
    <table class="table col-xs-6">
        <tbody>
            <tr>
                <td><strong>@Html.DisplayNameFor(model => model.DepartmentDisplay) </strong></td>
                <td class="text-right"><span> @Html.DisplayFor(model => model.DepartmentDisplay) </span></td>
            </tr>
            <tr>
                <td><strong>@Html.DisplayNameFor(model => model.AddendumNumber) </strong></td>
                <td class="text-right"><span> @Html.DisplayFor(model => model.AddendumNumber) </span></td>
            </tr>
            <tr>
                <td><strong>@Html.DisplayNameFor(model => model.PermitStatusDisplay) </strong></td>
                <td class="text-right"><span> @Html.DisplayFor(model => model.PermitStatusDisplay) </span></td>
            </tr>
    </table>
</div>
