@model GrantCountyAs400.Web.ViewModels.BuildingVM.BuildingPermitSystemPlanningApprovalViewModel

<div class="col-xs-6">
    <table class="table">
        <tbody>
            <tr>
                <td><strong>@Html.DisplayNameFor(model => model.ApplicantProjectDescription) </strong></td>
                <td class="text-right"><span> @Html.DisplayFor(model => model.ApplicantProjectDescription) </span></td>
            </tr>
            <tr>
                <td><strong>@Html.DisplayNameFor(model => model.ZoneCode) </strong></td>
                <td class="text-right"><span> @Html.DisplayFor(model => model.ZoneCode) </span></td>
            </tr>
            <tr>
                <td><strong>@Html.DisplayNameFor(model => model.FrontPropertySetback) </strong></td>
                <td class="text-right"><span> @Html.DisplayFor(model => model.FrontPropertySetback) </span></td>
            </tr>
            <tr>
                <td><strong>@Html.DisplayNameFor(model => model.SideFlankingSetback) </strong></td>
                <td class="text-right"><span> @Html.DisplayFor(model => model.SideFlankingSetback) </span></td>
            </tr>

        </tbody>
    </table>
</div>