
@model GrantCountyAs400.Web.ViewModels.BuildingVM.ValuationAndFeesViewModel

<div class="col-xs-12">
    <table class="table">
        <tbody>
            <tr>
                <td><strong>@Html.DisplayNameFor(model => model.ExtendedAmountTotal) </strong></td>
                <td class="text-right"><span> @Html.DisplayFor(model => model.ExtendedValue) </span></td>

            </tr>
            <tr>
                <td><strong>Total Fees </strong></td>
                <td class="text-right"><span> @Html.DisplayFor(model => model.ExtendedAmountTotal) </span></td>
            </tr>
            <tr>
                <td><strong>@Html.DisplayNameFor(model => model.ExtendedValue) </strong></td>
                <td class="text-right"><span> @Html.DisplayFor(model => model.ExtendedValue) </span></td>
            </tr>
            <tr>
                <td><strong>@Html.DisplayNameFor(model => model.AssignStructNanNodFees) </strong></td>
                <td class="text-right"><span> @Html.DisplayFor(model => model.AssignStructNanNodFees) </span></td>
            </tr>
            <tr>
                <td><strong>@Html.DisplayNameFor(model => model.AssignPlanReviewFee) </strong></td>
                <td class="text-right"><span> @Html.DisplayFor(model => model.AssignPlanReviewFee) </span></td>
            </tr>
            <tr>
                <td><strong>@Html.DisplayNameFor(model => model.AssignPlumbingFees) </strong></td>
                <td class="text-right"><span> @Html.DisplayFor(model => model.AssignPlumbingFees) </span></td>
            </tr>
            <tr>
                <td><strong>@Html.DisplayNameFor(model => model.AssignMechanicalFees) </strong></td>
                <td class="text-right"><span> @Html.DisplayFor(model => model.AssignMechanicalFees) </span></td>
            </tr>
            <tr>
                <td><strong>@Html.DisplayNameFor(model => model.AssignGradingFees) </strong></td>
                <td class="text-right">
                    <span>
                        <a asp-route="gradingDetailsRoute" asp-route-id="@Model.Id">
                            @Html.DisplayFor(model => model.AssignGradingFees)
                        </a>
                    </span>
                </td>
            </tr>
            <tr>
                <td><strong>@Html.DisplayNameFor(model => model.AssignDemolitionFees) </strong></td>
                <td class="text-right"><span> @Html.DisplayFor(model => model.AssignDemolitionFees) </span></td>
            </tr>
            <tr>
                <td><strong>-- OR --</strong></td>
            </tr>
            <tr>
                <td><strong>@Html.DisplayNameFor(model => model.AssignBidPermitFee) </strong></td>
                <td class="text-right"><span> @Html.DisplayFor(model => model.AssignBidPermitFee) </span></td>
            </tr>
            <tr>
                <td><strong>@Html.DisplayNameFor(model => model.AssignBidPlanReview) </strong></td>
                <td class="text-right"><span> @Html.DisplayFor(model => model.AssignBidPlanReview) </span></td>
            </tr>
            <tr>
                <td>-- AND --</td>
            </tr>
            <tr>
                <td><strong>@Html.DisplayNameFor(model => model.AssignBidBuildingCodeFee) </strong></td>
                <td class="text-right">
                    <span>
                        <a asp-route="stateBuildingfeeDetailsRoute" asp-route-id="@Model.Id">
                            @Html.DisplayFor(model => model.AssignBidBuildingCodeFee)
                        </a>
                    </span>
                </td>
            </tr>
            <tr>
                <td><strong>@Html.DisplayNameFor(model => model.AssignFireMarshalFees) </strong></td>
                <td class="text-right"><span> @Html.DisplayFor(model => model.AssignFireMarshalFees) </span></td>
            </tr>
            <tr>
                <td><strong>@Html.DisplayNameFor(model => model.AssignOtherFees) </strong></td>
                <td class="text-right">
                    <span>
                        <a asp-route="otherFeesDetailsRoute" asp-route-id="@Model.Id">@Html.DisplayFor(model => model.AssignOtherFees)</a>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>