@model GrantCountyAs400.Web.ViewModels.BuildingVM.BuildingPermitSystemDetailsViewModel
@{
    ViewData["Title"] = "Building Permit Application";
}

<h2>Building Permit Application</h2>

<div>
    <div class="entity-details row">
        <div class="entity-info clearfix">
            <partial name="_Header" for="@Model.BasicInfo" />
            <div class="col-xs-6">
                <table class="table">
                    <tbody>
                        <tr>
                            <td><strong>@Html.DisplayNameFor(model => model.PermitType) </strong></td>
                            <td class="text-right"><span> @Html.DisplayFor(model => model.PermitType) </span></td>
                        </tr>
                        <tr>
                            <td><strong>@Html.DisplayNameFor(model => model.ForJurisdiction) </strong></td>
                            <td class="text-right"><span> @Html.DisplayFor(model => model.ForJurisdiction) </span></td>
                        </tr>
                        <tr>
                            <td><strong>@Html.DisplayNameFor(model => model.ApplicantName) </strong></td>
                            <td class="text-right"><span> @Html.DisplayFor(model => model.ApplicantName) </span></td>
                        </tr>
                        <tr>
                            <td><strong>@Html.DisplayNameFor(model => model.CityStateZip) </strong></td>
                            <td class="text-right"><span> @Html.DisplayFor(model => model.CityStateZip) </span></td>
                        </tr>
                        <tr>
                            <td><strong>@Html.DisplayNameFor(model => model.PreliminaryParcelDisplay) </strong></td>
                            <td class="text-right">
                                <span> @Html.DisplayFor(model => model.PreliminaryParcelDisplay) </span><br />
                                <span> @Html.DisplayFor(model => model.PreliminaryParcelNameDisplay) </span>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>@Html.DisplayNameFor(model => model.AssessorParcelDisplay) </strong></td>
                            <td class="text-right">
                                <span> @Html.DisplayFor(model => model.AssessorParcelDisplay) </span><br />
                                <span> @Html.DisplayFor(model => model.AssessorParcelNameDisplay) </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-xs-6">
                <table class="table">
                    <tbody>

                        <tr>
                            <td><strong>@Html.DisplayNameFor(model => model.ApplicationDate) </strong></td>
                            <td class="text-right"><span> @Html.DisplayFor(model => model.ApplicationDate) </span></td>
                        </tr>
                        <tr>
                            <td><strong>@Html.DisplayNameFor(model => model.ApplicantBusinessName) </strong></td>
                            <td class="text-right"><span> @Html.DisplayFor(model => model.ApplicantBusinessName) </span></td>
                        </tr>

                        <tr>
                            <td><strong>@Html.DisplayNameFor(model => model.ApplicationUserId) </strong></td>
                            <td class="text-right"><span> @Html.DisplayFor(model => model.ApplicationUserId) </span></td>
                        </tr>
                        <tr>
                            <td><strong>@Html.DisplayNameFor(model => model.AddressLine1) </strong></td>
                            <td class="text-right"><span> @Html.DisplayFor(model => model.AddressLine1) </span></td>
                        </tr>
                        <tr>
                            <td><strong>@Html.DisplayNameFor(model => model.AddressLine2) </strong></td>
                            <td class="text-right"><span> @Html.DisplayFor(model => model.AddressLine2) </span></td>
                        </tr>
                        <tr>
                            <td><strong>@Html.DisplayNameFor(model => model.AdditionalInformation) </strong></td>
                            <td class="text-right"><span> @Html.DisplayFor(model => model.AdditionalInformation) </span></td>
                        </tr>
                        <tr>
                            <td><strong>@Html.DisplayNameFor(model => model.ParkInformation) </strong></td>
                            <td class="text-right"><span> @Html.DisplayFor(model => model.ParkInformation) </span></td>
                        </tr>
                        <tr>
                            <td><strong>@Html.DisplayNameFor(model => model.SitusAddressDisplay) </strong></td>
                            <td class="text-right"><span> @Html.DisplayFor(model => model.SitusAddressDisplay) </span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="clearfix"></div>
            <div class="panel-group col-xs-12" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#applicantDetails">
                                Applicant Details
                            </a>
                        </h4>
                    </div>
                    <div id="applicantDetails" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <partial name="_ApplicantDetails" for="@Model.ApplicantDetails" />
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#approvalStatus">
                                Approval Status
                            </a>
                        </h4>
                    </div>
                    <div id="approvalStatus" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <partial name="_ApprovalStatus" for="@Model.ApprovalStatus" />
                        </div>
                    </div>
                </div>
                @if (Model.ApprovalStatus != null && Model.PlanningApproval != null)
                {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#planningApproval">
                                    Planning Approval
                                </a>
                            </h4>
                        </div>
                        <div id="planningApproval" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <partial name="_PlanningApproval" for="@Model.PlanningApproval" />
                            </div>
                        </div>
                    </div>
                }
                @if (Model.ApprovalStatus != null && Model.AssessorApproval != null)
                {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#assessorApproval">
                                    Assessor Approval
                                </a>
                            </h4>
                        </div>
                        <div id="assessorApproval" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <partial name="_AssessorApproval" for="@Model.AssessorApproval" />
                            </div>
                        </div>
                    </div>
                }
                @if (Model.ApprovalStatus != null && Model.PublicWorkApproval != null)
                {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#publicWorkApproval">
                                    Public Work Approval
                                </a>
                            </h4>
                        </div>
                        <div id="publicWorkApproval" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <partial name="_PublicWorkApproval" for="@Model.PublicWorkApproval" />
                            </div>
                        </div>
                    </div>
                }
                @if (Model.ApprovalStatus != null && Model.HealthApproval != null)
                {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#healthApproval">
                                    Health Approval
                                </a>
                            </h4>
                        </div>
                        <div id="healthApproval" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <partial name="_HealthApproval" for="@Model.HealthApproval" />
                            </div>
                        </div>
                    </div>
                }
                @if (Model.ApprovalStatus != null && Model.CityApproval != null)
                {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#cityApproval">
                                    City Approval
                                </a>
                            </h4>
                        </div>
                        <div id="cityApproval" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <partial name="_CityApproval" for="@Model.CityApproval" />
                            </div>
                        </div>
                    </div>
                }
                @if(Model.Notes.Any())
                {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#notes">
                                Notes
                            </a>
                        </h4>
                    </div>
                    <div id="notes" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <partial name="_Notes" for="@Model.Notes" />
                        </div>
                    </div>
                </div>
                }
                @if (!string.IsNullOrWhiteSpace(ViewBag.PermitDetailViewName))
                {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#permitDetails">
                                    Permit Details
                                </a>
                            </h4>
                        </div>

                        <div id="permitDetails" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <partial name="@ViewBag.PermitDetailViewName" model="ViewBag.PermitDetailViewModel" />
                            </div>
                        </div>
                    </div>
                }
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#valuationAndFees">
                                Valuation & Fees
                            </a>
                        </h4>
                    </div>

                    <div id="valuationAndFees" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <partial name="_ValuationAndFees" model="ViewBag.ValuationAndFeesViewModel" />
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#inspections">
                                Inspections
                            </a>
                        </h4>
                    </div>
                    <div id="inspections" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <partial name="_Inspections" model="ViewBag.Inspections" />
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#conditions">
                                Conditions
                            </a>
                        </h4>
                    </div>
                    <div id="conditions" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <partial name="_Conditions" model="ViewBag.Conditions" />
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#receipts">
                                Receipts
                            </a>
                        </h4>
                    </div>
                    <div id="receipts" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <partial name="_Receipts" model="ViewBag.Receipts" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>