@model IEnumerable<GrantCountyAs400.Web.ViewModels.BuildingVM.BuildingPermitSystemViewModel>
@{
    ViewData["Title"] = "Export BuildingPermit System";
}

<h2>Export Building Permit System As Pdf</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().ApplicationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().PermitIssueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().AssessorParcelNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().ApplicationNumberDisplay)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().PermitCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().PermitStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().PermitNumberDisplay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().ApplicantBusinessName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().ApplicationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().OfficeProjectDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().ContractorBusinessName)
            </th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>

            <td>
                @{ var formattedDateTime = item.ApplicationDate.HasValue ? item.ApplicationDate.Value.ToString("MM/dd/yyyy") : "";}
                @Html.DisplayFor(modelItem => formattedDateTime)
            </td>
            <td>
                @{ var formattedIssueDateTime = item.PermitIssueDate.HasValue ? item.PermitIssueDate.Value.ToString("MM/dd/yyyy") : "";}
                @Html.DisplayFor(modelItem => formattedIssueDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssessorParcelNumber)
            </td>
            <td>
                @{ var formattedApplicaionNumber = item.ApplicationNumber.HasValue ? item.ApplicationNumber.ToString() : "";}
                <a asp-action="Details" asp-route-id="@item.ID">@Html.DisplayFor(modelItem => item.ApplicationNumberDisplay)</a>
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.PermitCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PermitStatus)
            </td>
            <td>
                @{ var formattedPermitNumber = item.PermitNumber.HasValue ? item.PermitNumber.Value.ToString() : "";}
                @Html.DisplayFor(modelItem => item.PermitNumberDisplay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicantBusinessName)
            </td>
            <td>
                @{ var formattedApplicationName = item.ApplicationName.Trim() == "," ? "" : item.ApplicationName;}
                @Html.DisplayFor(modelItem => formattedApplicationName)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.OfficeProjectDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContractorBusinessName)
            </td>
        </tr>
        }
    </tbody>
</table>

