@model GrantCountyAs400.Web.ViewModels.BuildingVM.FireMarshalFeesDetailsViewModel
@{
    ViewData["Title"] = "Fire Marshal Fees";
}

<h2>Fire Marshal Fees</h2>

<div>
    <div class="entity-details row">
        <div class="entity-info clearfix">
            <partial name="_Header" for="@Model.BasicInfo" />
            <div class="col-xs-6">
                <table class="table">
                    <tbody>

                        <tr>
                            <td><strong>@Html.DisplayNameFor(model => model.TotalValue) </strong></td>
                            <td class="text-right"><span> @Html.DisplayFor(model => model.TotalValue) </span></td>
                        </tr>
                        <tr>
                            <td><strong>@Html.DisplayNameFor(model => model.TotalFireMarshalFees) </strong></td>
                            <td class="text-right"><span> @Html.DisplayFor(model => model.TotalFireMarshalFees) </span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-xs-6">
                <table class="table">
                    <thead>
                        <tr>
                            <td>
                                Seq #
                            </td>
                            <td>
                                Fee Description
                            </td>
                            <td>
                                Units/Hrs
                            </td>
                            <td>
                                Unit Fee
                            </td>
                            <td>
                                Extended Amt
                            </td>
                            <td>
                                Fee Category
                            </td>
                        </tr>
                    </thead>

                    @for (int i = 0; i < Model.SequenceNumber.Count; i++)
                    {
                        <tr>
                            <td class="text-left">
                                @{ int? sequenceNumberDisplay = Model.SequenceNumber[i].HasValue ? (int?)Model.SequenceNumber[i] : null;}
                                @Html.DisplayFor(t => sequenceNumberDisplay)
                            </td>
                            <td class="text-left">
                                @Html.DisplayFor(t => t.FeeDescription[i])
                            </td>
                            <td class="text-left">
                                @Html.DisplayFor(t => t.NumberOfUnits[i])
                            </td>
                            <td class="text-left">
                                @Html.DisplayFor(t => t.UnitCharge[i])
                            </td>
                            <td class="text-left">
                                @Html.DisplayFor(t => t.ExtendedAmount[i])
                            </td>
                            <td class="text-left">
                                @if (i < Model.FeeCategory.Count)
                                {
                                    @Html.DisplayFor(t => t.FeeCategory[i])
                                }

                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>
