@model GrantCountyAs400.Web.ViewModels.BuildingVM.GradingFeesDetailsViewModel
@{
    ViewData["Title"] = "Grading Fees";
}

<h2>Grading Fees</h2>

<div>
    <div class="entity-details row">
        <div class="entity-info clearfix">
            <partial name="_Header" for="@Model.BasicInfo" />
            <div class="col-xs-6">
                <table class="table">
                    <tbody>
                        <tr>
                            <td><strong>Total C/U Yds </strong></td>
                            <td class="text-right"><span> @Html.DisplayFor(model => model.TotalCubicYardsOfFill) </span></td>
                        </tr>
                        <tr>
                            <td><strong>Total Grading Fees </strong></td>
                            <td class="text-right"><span> @Html.DisplayFor(model => model.GradExtendedAmount) </span></td>
                        </tr>
                        <tr>
                            <td><strong>Inspect/Pln-Rvw </strong></td>
                            <td class="text-right"><span> @Html.DisplayFor(model => model.PlrvwExtendedAmount) </span></td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="col-xs-6">
                <table class="table">
                    <thead>
                        <tr>
                            <td>
                                <strong>Fee Code</strong>
                            </td>
                            <td>Fee Description</td>
                            <td>Cu Yds/Hrs</td>
                            <td>Base Fee</td>
                            <td>Incr Fee</td>
                            <td>Extended Amount</td>
                            <td>%</td>
                            <td>Fee Category</td>
                        </tr>

                        @for (int i = 0; i < Model.SequenceNumber.Count; i++)
                        {
                            <tr>
                                <td class="text-right">
                                    @Html.DisplayFor(t => t.SequenceNumber[i])
                                </td>
                                <td>
                                    @Html.DisplayFor(t => t.FeeDescription[i])
                                </td>
                                <td>
                                    @Html.DisplayFor(t => t.CubicYardsOfFill[i])
                                </td>
                                <td>
                                    @Html.DisplayFor(t => t.BaseFee[i])
                                </td>
                                <td>
                                    @Html.DisplayFor(t => t.FeeIncrement[i])
                                </td>
                                <td>
                                    @Html.DisplayFor(t => t.BaseFee[i])
                                </td>
                                <td>
                                    @Html.DisplayFor(t => t.MinMaxFlag[i])
                                </td>
                                <td>
                                    Grading
                                </td>
                            </tr>
                        }

                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
