@model GrantCountyAs400.Web.ViewModels.BuildingVM.GradingFeesDetailsViewModel
@{
    ViewData["Title"] = "Grading fees";
}

<h2>Grading fees</h2>

<div>
    <div class="entity-details row">
        <div class="entity-info clearfix">
            <partial name="_Header" for="@Model.BasicInfo" />
            <div class="col-xs-6">
                <table class="table">
                    <tbody>
                        <tr>
                            <td><strong>Total C/U Yds </strong></td>
                            <td class="text-right"><span> @Html.DisplayFor(model => model.CubicYardsOfFill) </span></td>
                        </tr>
                        <tr>
                            <td><strong>@Html.DisplayNameFor(model => model.SequenceNumber) </strong></td>
                            <td class="text-right"><span> @Html.DisplayFor(model => model.SequenceNumber) </span></td>
                        </tr>
                        <tr>
                            <td><strong>@Html.DisplayNameFor(model => model.FeeDescription) </strong></td>
                            <td class="text-right"><span> @Html.DisplayFor(model => model.FeeDescription) </span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-xs-6">
                <table class="table">
                    <tbody>
                        <tr>
                            <td><strong>Total Grading Fees </strong></td>
                            <td class="text-right"><span> @Html.DisplayFor(model => model.GradExtendedAmount) </span></td>
                        </tr>
                        <tr>
                            <td><strong>Inspect/Pln-Rvw </strong></td>
                            <td class="text-right"><span> @Html.DisplayFor(model => model.PlrvwExtendedAmount) </span></td>
                        </tr>
                        <tr>
                            <td><strong>@Html.DisplayNameFor(model => model.CubicYardsOfFill) </strong></td>
                            <td class="text-right"><span> @Html.DisplayFor(model => model.CubicYardsOfFill) </span></td>
                        </tr>
                        <tr>
                            <td><strong>@Html.DisplayNameFor(model => model.BaseFee) </strong></td>
                            <td class="text-right"><span> @Html.DisplayFor(model => model.BaseFee) </span></td>
                        </tr>
                        <tr>
                            <td><strong>@Html.DisplayNameFor(model => model.FeeIncrement) </strong></td>
                            <td class="text-right"><span> @Html.DisplayFor(model => model.FeeIncrement) </span></td>
                        </tr>
                        <tr>
                            <td><strong>@Html.DisplayNameFor(model => model.ExtendedAmount) </strong></td>
                            <td class="text-right"><span> @Html.DisplayFor(model => model.ExtendedAmount) </span></td>
                        </tr>
                        <tr>
                            <td><strong>@Html.DisplayNameFor(model => model.MinMaxFlag) </strong></td>
                            <td class="text-right"><span> @Html.DisplayFor(model => model.MinMaxFlag) </span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
