@model IEnumerable<GrantCountyAs400.Web.ViewModels.BuildingVM.BuildingPermitSystemViewModel>
@using X.PagedList.Mvc.Core;
@using GrantCountyAs400.Web.ViewModels.BuildingVM
@using X.PagedList;

@{
    ViewData["Title"] = "Building Permits System";
    var filterViewModel = ViewBag.FilterViewModel as BuildingPermitSystemFilterViewModel;
}

<h2>Building Permits System</h2>

<p>
    @using (Html.BeginForm("Index", "BuildingPermitSystem", FormMethod.Get))
    {
        <div class="form-horizontal">
            <hr />
            <div class="row">
                <div class="col-md-4 col-xs-6">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="@filterViewModel.ApplicationYear"></label>
                            <input type="number" asp-for="@filterViewModel.ApplicationYear" name="applicationyear" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label asp-for="@filterViewModel.ApplicationNumber"></label>
                            <input type="number" asp-for="@filterViewModel.ApplicationNumber" name="applicationnumber" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label asp-for="@filterViewModel.PermitNumber"></label>
                            <input type="number" asp-for="@filterViewModel.PermitNumber" name="permitnumber" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-6 adjcant-col-right">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="@filterViewModel.ApplicantBusinessName"></label>
                            <input type="text" asp-for="@filterViewModel.ApplicantBusinessName" name="applicantbusinessname" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label asp-for="@filterViewModel.ApplicantFirstName"></label>
                            <input type="text" asp-for="@filterViewModel.ApplicantFirstName" name="applicantfirstname" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label asp-for="@filterViewModel.ApplicantLastName"></label>
                            <input type="text" asp-for="@filterViewModel.ApplicantLastName" name="applicantlastname" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-6">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="@filterViewModel.PreliminaryParcelNumber"></label>
                            <input type="number" asp-for="@filterViewModel.PreliminaryParcelNumber" name="preliminaryparcelnumber" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label asp-for="@filterViewModel.AssessorParcelNumber"></label>
                            <input type="number" asp-for="@filterViewModel.AssessorParcelNumber" name="assessorparcelnumber" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label asp-for="@filterViewModel.JurisdictionCode"></label>
                            <input type="text" asp-for="@filterViewModel.JurisdictionCode" name="jurisdictioncode" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <div class="form-group pull-right">
                        <input type="submit" value="Filter" class="btn btn-success" />
                        <input type="reset" value="Clear" class="btn btn-default" id="btnReset" />
                    </div>
                </div>
            </div>
        </div>
    }
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.Display("#")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().ApplicationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().ApplicationNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().AddendumNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().PermitCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().PermitStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().ApplicationYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().PermitNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().ApplicationName)
            </th>
            <th>
                @Html.DisplayName("Bld")
            </th>
            <th>
                @Html.DisplayName("FM")
            </th>
            <th>
                @Html.DisplayName("Plan")
            </th>
            <th>
                @Html.DisplayName("Hlth")
            </th>
            <th>
                @Html.DisplayName("Assr")
            </th>
            <th>
                @Html.DisplayName("P-work")
            </th>
            <th>
                @Html.DisplayName("City-J")
            </th>
            <th>
                @Html.DisplayName("City-U")
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a>
                </td>
                <td>
                    @{ var formattedDateTime = item.ApplicationDate.HasValue ? item.ApplicationDate.Value.ToString("MM/dd/yyyy") : "";}
                    @Html.DisplayFor(modelItem => formattedDateTime)
                </td>
                <td>
                    @{ var formattedApplicaionNumber = item.ApplicationNumber.HasValue ? item.ApplicationNumber.ToString() : "";}
                    @Html.DisplayFor(modelItem => formattedApplicaionNumber)
                </td>
                <td>
                    @{ var formattedAddendumNumber = item.AddendumNumber.HasValue ? item.AddendumNumber.Value.ToString() : "";}
                    @Html.DisplayFor(modelItem => formattedAddendumNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PermitCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PermitStatus)
                </td>
                <td>
                    @{ var formattedApplicationYear = item.ApplicationYear.HasValue ? int.Parse(item.ApplicationYear.Value.ToString()).ToString() : "";}
                    @Html.DisplayFor(modelItem => formattedApplicationYear)
                </td>
                <td>
                    @{ var formattedPermitNumber = item.PermitNumber.HasValue ? item.PermitNumber.Value.ToString() : "";}
                    @Html.DisplayFor(modelItem => formattedPermitNumber)
                </td>
                <td>
                    @{ var formattedApplicationName = item.ApplicationName.Trim() == "," ? "" : item.ApplicationName;}
                    @Html.DisplayFor(modelItem => formattedApplicationName)
                </td>
                <td>
                    @{ var bld = item.BuildingApprovalRequired + item.BuildingApprovalDate;}
                    @Html.DisplayFor(modelItem => bld)
                </td>
                <td>
                    @{ var fm = item.FireMarchalRequired + item.FireMarshalDate;}
                    @Html.DisplayFor(modelItem => fm)
                </td>
                <td>
                    @{ var plan = item.PlanningApprovalRequired + item.PlanningApprovalDate;}
                    @Html.DisplayFor(modelItem => bld)
                </td>
                <td>
                    @{ var health = item.HealthApprovalRequired + item.HealthApprovalDate;}
                    @Html.DisplayFor(modelItem => health)
                </td>
                <td>
                    @{ var assr = item.AssessorApprovalRequired + item.AssessorApprovalDate;}
                    @Html.DisplayFor(modelItem => assr)
                </td>
                <td>
                    @{ var pwork = item.PublicWorkApprovalRequired + item.PublicWorkApprovalDate;}
                    @Html.DisplayFor(modelItem => pwork)
                </td>
                <td>
                    @{ var cityJ = item.CityJurisdictionApprovalRequired + item.CityJurisdictionApprovalDate;}
                    @Html.DisplayFor(modelItem => cityJ)
                </td>
                <td>
                    @{ var cityU = item.CityUtilityApprovalRequired + item.CityUtilityApprovalDate;}
                    @Html.DisplayFor(modelItem => cityU)
                </td>
            </tr>
        }
    </tbody>
</table>
<nav aria-label="navigation">
    @Html.PagedListPager((IPagedList)Model, pageNumber => Url.Action("Index", new {
    pageNumber = pageNumber,
    applicationyear = filterViewModel.ApplicationYear,
    applicationnumber = filterViewModel.ApplicationNumber,
    permitnumber = filterViewModel.PermitNumber,
    applicantbusinessname = filterViewModel.ApplicantBusinessName,
    applicantlastname = filterViewModel.ApplicantLastName,
    applicantfirstname = filterViewModel.ApplicantFirstName,
    preliminaryparcelnumber = filterViewModel.PreliminaryParcelNumber,
    assessorparcelnumber = filterViewModel.AssessorParcelNumber,
    jurisdictioncode = filterViewModel.JurisdictionCode,
}))
</nav>

@section Scripts{

    <script>
        $(function () {
            $('#btnReset').click(function () {
                $('input[type="text"]', 'div.row[data-search-type]').val('');
                $('input[type="number"]', 'div.row[data-search-type]').val('');
            });
        });
    </script>

}