@model IEnumerable<GrantCountyAs400.Web.ViewModels.BuildingVM.BuildingPermitSystemViewModel>
@using X.PagedList.Mvc.Core;
@using GrantCountyAs400.Web.ViewModels.BuildingVM;
@using GrantCountyAs400.Web.Extensions;
@using X.PagedList;

@{
    ViewData["Title"] = "Building Permits System";
    var filterViewModel = ViewBag.FilterViewModel as BuildingPermitSystemFilterViewModel;
}

<h2>Building Permits System</h2>

<p>
    @using (Html.BeginForm("Index", "BuildingPermitSystem", FormMethod.Get))
    {
    <div class="form-horizontal">
        <hr />
        <div class="row">

            <div class="form-group">
                <label asp-for="@filterViewModel.ApplicationYear" class="control-label col-md-2"></label>
                <div class="col-md-2">
                    <input type="number" asp-for="@filterViewModel.ApplicationYear" name="applicationyear" class="form-control" />
                </div>

                <label asp-for="@filterViewModel.ApplicationNumber" class="control-label col-md-2"></label>
                <div class="col-md-2">
                    <input type="number" asp-for="@filterViewModel.ApplicationNumber" name="applicationnumber" class="form-control" />
                </div>
                <label asp-for="@filterViewModel.ApplicantBusinessName" class="control-label col-md-2"></label>
                <div class="col-md-2">
                    <input type="text" asp-for="@filterViewModel.ApplicantBusinessName" name="applicantbusinessname" class="form-control" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label asp-for="@filterViewModel.PermitYear" class="control-label col-md-2"></label>
                <div class="col-md-2">
                    <input type="text" asp-for="@filterViewModel.PermitYear" name="permitYear" class="form-control" />
                </div>
                <label asp-for="@filterViewModel.PermitNumber" class="control-label col-md-2"></label>
                <div class="col-md-2">
                    <input type="number" asp-for="@filterViewModel.PermitNumber" name="permitnumber" class="form-control" />
                </div>

                <label asp-for="@filterViewModel.ApplicantLastName" class="control-label col-md-2"></label>
                <div class="col-md-2">
                    <input type="text" asp-for="@filterViewModel.ApplicantLastName" name="applicantlastname" class="form-control" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">

                <label asp-for="@filterViewModel.PreliminaryParcelNumber" class="control-label col-md-2"></label>
                <div class="col-md-2">
                    <input type="number" asp-for="@filterViewModel.PreliminaryParcelNumber" name="preliminaryparcelnumber" class="form-control" />
                </div>
                <label asp-for="@filterViewModel.StateClassCode" class="control-label col-md-2"></label>
                <div class="col-md-2">
                    <input type="number" asp-for="@filterViewModel.StateClassCode" name="stateClassCode" class="form-control" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label asp-for="@filterViewModel.ProjectDescription" class="control-label col-md-2"></label>
                <div class="col-md-2">
                    <input type="text" asp-for="@filterViewModel.ProjectDescription" name="projectDescription" class="form-control" />
                </div>
                <label asp-for="@filterViewModel.OfficeProjectDescription" class="control-label col-md-2"></label>
                <div class="col-md-2">
                    <input type="text" asp-for="@filterViewModel.OfficeProjectDescription" name="officeProjectDescription" class="form-control" />
                </div>
                <label asp-for="@filterViewModel.ContractorBusinessName" class="control-label col-md-2"></label>
                <div class="col-md-2">
                    <input type="text" asp-for="@filterViewModel.ContractorBusinessName" name="contractorBusinessName" class="form-control" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">

                <label asp-for="@filterViewModel.EnforcementActionRequired" class="control-label col-md-2"></label>
                <div class="col-md-2">
                    <select asp-for="@filterViewModel.EnforcementAction" name="enforcementAction" asp-items="@filterViewModel.EnforcementActionRequired" class="form-control"></select>
                </div>
                <label asp-for="@filterViewModel.CityApprovalRequired" class="control-label col-md-2"></label>
                <div class="col-md-2">
                    <select asp-for="@filterViewModel.CityApproval" name="cityapproval" asp-items="@filterViewModel.CityApprovalRequired" class="form-control"></select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">

                <label asp-for="@filterViewModel.FromDate" class="control-label col-md-2"></label>
                <div class="col-md-2">
                    @Html.EditorFor(model => filterViewModel.FromDate, null, "fromDate", new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <label asp-for="@filterViewModel.ToDate" class="control-label col-md-2"></label>
                <div class="col-md-2">
                    @Html.EditorFor(model => filterViewModel.ToDate, null, "toDate", new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">

                <label asp-for="@filterViewModel.ApplicationDateFrom" class="control-label col-md-2"></label>
                <div class="col-md-2">
                    @Html.EditorFor(model => filterViewModel.FromDate, null, "applicationDatefrom", new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <label asp-for="@filterViewModel.ApplicationDateTo" class="control-label col-md-2"></label>
                <div class="col-md-2">
                    @Html.EditorFor(model => filterViewModel.ApplicationDateTo, null, "applicationDateTo", new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">

                <label asp-for="@filterViewModel.AssessorParcelFrom" class="control-label col-md-2"></label>
                <div class="col-md-2">
                    @Html.EditorFor(model => filterViewModel.AssessorParcelFrom, null, "assessorParcelfrom", new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <label asp-for="@filterViewModel.AssessorParcelTo" class="control-label col-md-2"></label>
                <div class="col-md-2">
                    @Html.EditorFor(model => filterViewModel.AssessorParcelTo, null, "assessorParcelTo", new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="form-group pull-right">
                    <input type="submit" value="Filter" class="btn btn-success" />
                    <input type="reset" value="Clear" class="btn btn-default" id="btnReset" />
                </div>
            </div>
        </div>
    </div>
    }
</p>
<div class="row col-md-12 pad-bottom-15">
    @if (Model.Any())
    {
        <div class="row">
            <div class="dropdown pull-right">
                <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">
                    <i class="glyphicon glyphicon-download-alt"></i>&nbsp;&nbsp;Export
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="export" target="_blank" href="@Url.Action("ExportBuildingPermitSystemAsExcel", "BuildingPermitSystem")?@filterViewModel.GetQueryString()">Export To Excel</a></li>
                    <li><a class="export" target="_blank" href="@Url.Action("ExportBuildingPermitSystemAsPdf", "BuildingPermitSystem")?@filterViewModel.GetQueryString()">Export To PDF</a></li>
                </ul>
            </div>
        </div>
    }
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().ApplicationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().PermitIssueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().AssessorParcelNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().ApplicationNumberDisplay)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().PermitCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().PermitStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().PermitNumberDisplay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().ApplicantBusinessName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().ApplicationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().OfficeProjectDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().ContractorBusinessName)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>

            <td>
                @{ var formattedDateTime = item.ApplicationDate.HasValue ? item.ApplicationDate.Value.ToString("MM/dd/yyyy") : "";}
                @Html.DisplayFor(modelItem => formattedDateTime)
            </td>
            <td>
                @{ var formattedIssueDateTime = item.PermitIssueDate.HasValue ? item.PermitIssueDate.Value.ToString("MM/dd/yyyy") : "";}
                @Html.DisplayFor(modelItem => formattedIssueDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssessorParcelNumber)
            </td>
            <td>
                @{ var formattedApplicaionNumber = item.ApplicationNumber.HasValue ? item.ApplicationNumber.ToString() : "";}
                <a asp-action="Details" asp-route-id="@item.ID">@Html.DisplayFor(modelItem => item.ApplicationNumberDisplay)</a>
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.PermitCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PermitStatus)
            </td>
            <td>
                @{ var formattedPermitNumber = item.PermitNumber.HasValue ? item.PermitNumber.Value.ToString() : "";}
                @Html.DisplayFor(modelItem => item.PermitNumberDisplay)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ApplicantBusinessName)
            </td>
            <td>
                @{ var formattedApplicationName = item.ApplicationName.Trim() == "," ? "" : item.ApplicationName;}
                @Html.DisplayFor(modelItem => formattedApplicationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OfficeProjectDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContractorBusinessName)
            </td>
        </tr>
        }
    </tbody>
</table>
<nav aria-label="navigation">
    @Html.PagedListPager((IPagedList)Model, pageNumber => Url.Action("Index", new {
    pageNumber = pageNumber,
    applicationyear = filterViewModel.ApplicationYear,
    applicationnumber = filterViewModel.ApplicationNumber,
    permitnumber = filterViewModel.PermitNumber,
    applicantbusinessname = filterViewModel.ApplicantBusinessName,
    applicantlastname = filterViewModel.ApplicantLastName,
    applicantfirstname = filterViewModel.ApplicantFirstName,
    preliminaryparcelnumber = filterViewModel.PreliminaryParcelNumber,
    stateClassCode = filterViewModel.StateClassCode,
    projectDescription = filterViewModel.ProjectDescription,
    officeProjectDescription = filterViewModel.OfficeProjectDescription,
    contractorBusinessName = filterViewModel.ContractorBusinessName,
    enforcementAction = filterViewModel.EnforcementAction,
    cityApproval = filterViewModel.CityApproval,
    fromDate = filterViewModel.FromDate,
    toDate = filterViewModel.ToDate,
    permitYear = filterViewModel.PermitYear,
    applicationDateFrom = filterViewModel.ApplicationDateFrom,
    applicationDateTo = filterViewModel.ApplicationDateTo,
    assessorParcelFrom = filterViewModel.AssessorParcelFrom,
    assessorParcelTo = filterViewModel.AssessorParcelTo
}))
</nav>

@section Scripts{

    <script>
        $(function () {
            $('#btnReset').click(function () {
                $('input[type="text"]', 'div.row[data-search-type]').val('');
                $('input[type="number"]', 'div.row[data-search-type]').val('');
            });
            $('.date-datepicker').datetimepicker({
                format: 'MM/DD/YYYY',
                showTodayButton: true,
                ignoreReadonly: true,
                showClear: true,
                useCurrent: false,
            });
        });
    </script>

}