@model GrantCountyAs400.Web.ViewModels.BuildingVM.ManModFeesDetailsViewModel
@{
    ViewData["Title"] = "Other fees";
}

<h2>Grading fees</h2>

<div>
    <div class="entity-details row">
        <div class="entity-info clearfix">
            <partial name="_Header" for="@Model.BasicInfo" />
            <div class="col-xs-6">
                <table class="table">
                    <tbody>

                        <tr>
                            <td><strong>@Html.DisplayNameFor(model => model.TotalValue) </strong></td>
                            <td class="text-right"><span> @Html.DisplayFor(model => model.TotalValue) </span></td>
                        </tr>
                        <tr>
                            <td><strong>@Html.DisplayNameFor(model => model.TotalBuildingFees) </strong></td>
                            <td class="text-right"><span> @Html.DisplayFor(model => model.TotalBuildingFees) </span></td>
                        </tr>
                        <tr>
                            <td><strong>@Html.DisplayNameFor(model => model.InspectPlanReview) </strong></td>
                            <td class="text-right"><span> @Html.DisplayFor(model => model.InspectPlanReview) </span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-xs-6">
                <table class="table">
                    <thead>
                        <tr>
                            <td>
                                Fee Code
                            </td>
                            <td>
                                Fee Description
                            </td>
                            <td>
                                Value/Hrs
                            </td>
                            <td>
                                Base Fee
                            </td>
                            <td>
                                Incr Fee
                            </td>
                            <td>
                                Extended Less
                            </td>
                            <td>
                                Amount Disc %
                            </td>
                            <td>
                                Fee Category
                            </td>
                        </tr>
                    </thead>

                    @for (int i = 0; i < Model.SequenceNumber.Count; i++)
                    {
                        <tr>
                            <td class="text-left">
                                @Html.DisplayFor(t => t.SequenceNumber[i])
                            </td>
                            <td class="text-left">
                                @Html.DisplayFor(t => t.FeeDescription[i])
                            </td>
                            <td class="text-left">
                                @Html.DisplayFor(t => t.NumberOfUnits[i])
                            </td>
                            <td class="text-left">
                                @Html.DisplayFor(t => t.BaseFee[i])
                            </td>
                            <td class="text-left">
                                @Html.DisplayFor(t => t.FeeIncrement[i])
                            </td>
                            <td class="text-left">
                                @Html.DisplayFor(t => t.ExtendedAmount[i])
                            </td>
                            <td class="text-left">
                                @Html.DisplayFor(t => t.MinMaxFlag[i])
                            </td>
                            <td class="text-left">
                                STRUCTURE
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>
