@model GrantCountyAs400.Web.ViewModels.BuildingVM.OtherFeesDetailsViewModel
@{
    ViewData["Title"] = "Other Fees";
}

<h2>Other Fees</h2>

<div>
    <div class="entity-details row">
        <div class="entity-info clearfix">
            <partial name="_Header" for="@Model.BasicInfo" />
            <div class="col-xs-6">
                <table class="table">
                    <tbody>
                        <tr>
                            <td><strong>Total Value </strong></td>
                            <td class="text-right"><span> ? </span></td>
                        </tr>
                        <tr>
                            <td><strong>@Html.DisplayNameFor(model => model.OtherExtendedAmount) </strong></td>
                            <td class="text-right"><span> @Html.DisplayFor(model => model.OtherExtendedAmount) </span></td>
                        </tr>
                        <tr>
                            <td><strong>@Html.DisplayNameFor(model => model.ExtendedAmount) </strong></td>
                            <td class="text-right"><span> @Html.DisplayFor(model => model.ExtendedAmount) </span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-xs-6">
                <table class="table">
                    <thead>
                        <tr>
                            <td>
                                Seq #
                            </td>
                            <td>
                                Fee Description
                            </td>
                            <td>
                                Units/Hrs
                            </td>
                            <td>
                                Unit Fee
                            </td>
                            <td>Extended Amount</td>
                            <td>
                                Fee Category
                            </td>
                        </tr>

                    </thead>

                    @for (int i = 0; i < Model.CoutOfLargestList; i++)
                    {
                        <tr>
                            <td class="text-left">
                                @if(i < Model.SequenceNumber.Count)
                                {
                                    int? sequenceNumberDisplay = Model.SequenceNumber[i].HasValue ? (int?)Model.SequenceNumber[i] : null;
                                    @Html.DisplayFor(t => sequenceNumberDisplay)
                                }
                            </td>
                            <td class="text-left">
                                @if(i < Model.FeeDescription.Count)
                                {
                                    @Html.DisplayFor(t => t.FeeDescription[i])
                                }
                            </td>
                            <td class="text-left">
                                @if(i < Model.NumberOfUnits.Count)
                                {
                                    @Html.DisplayFor(t => t.NumberOfUnits[i])
                                }
                            </td>
                            <td class="text-left">
                                @if(i < Model.UnitCharge.Count)
                                {
                                    @Html.DisplayFor(t => t.UnitCharge[i])
                                }
                            </td>
                            <td class="text-left">
                                @if(i < Model.NumberOfUnits.Count && i < Model.UnitCharge.Count)
                                {
                                    var totalAmount = Model.NumberOfUnits[i].GetValueOrDefault() * Model.UnitCharge[i].GetValueOrDefault();
                                    @Html.DisplayFor(t => totalAmount)
                                }
                            </td>
                            <td class="text-left">
                                @if(i < Model.FeeCode.Count)
                                {
                                    @Html.DisplayFor(t => t.FeeCode[i])
                                }
                            </td>
                        </tr>

                    }

                </table>
            </div>
        </div>
    </div>
</div>
