

@model GrantCountyAs400.Web.ViewModels.BuildingVM.PlumbingFeesDetailsViewModel
@{
    ViewData["Title"] = "Plumbing Fees";
}

<h2>Plumbing Fees</h2>

<div>
    <div class="entity-details row">
        <div class="entity-info clearfix">
            <partial name="_Header" for="@Model.BasicInfo" />
            <div class="col-xs-6">
                <table class="table">
                    <tbody>
                        <tr>
                            <td><strong>Total Plumbing Fees </strong></td>
                            <td class="text-right"><span> @Html.DisplayFor(model => model.PlumbingExtendedAmount) </span></td>
                        </tr>
                        <tr>
                            <td><strong>Inspect/Pln-Rvw </strong></td>
                            <td class="text-right"><span> @Html.DisplayFor(model => model.PlrvwExtendedAmount) </span></td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="col-xs-6">
                <table class="table">
                    <thead>
                        <tr>
                            <td>
                                <strong>Fee Code</strong>
                            </td>
                            <td>Fee Description</td>
                            <td>Units/Hrs</td>
                            <td>Unit Fee</td>
                            <td>Extended Amt</td>
                            <td>Fee Category</td>
                        </tr>

                        @for (int i = 0; i < Model.SequenceNumber.Count; i++)
                        {
                            <tr>
                                <td class="text-right">
                                    @{ var formattedSequenceNumber = (int?)Model.SequenceNumber[i];}
                                    @Html.DisplayFor(t => formattedSequenceNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(t => t.FeeDescription[i])
                                </td>
                                <td>
                                    @Html.DisplayFor(t => t.NumberOfUnits[i])
                                </td>
                                <td>
                                    @Html.DisplayFor(t => t.UnitCharge[i])
                                </td>
                                <td>
                                    @Html.DisplayFor(t => t.ExtendedAmount[i])
                                </td>
                                <td>
                                    @Html.DisplayFor(t => t.ExtendedAmount[i])
                                </td>
                                <td>
                                    Plumbing
                                </td>
                            </tr>
                        }

                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
