
@model GrantCountyAs400.Web.ViewModels.BuildingVM.StateBuildingFeesDetailsViewModel
@{
    ViewData["Title"] = "State Building Code";
}

<h2>State Building Code</h2>

<div>
    <div class="entity-details row">
        <div class="entity-info clearfix">
            <partial name="_Header" for="@Model.BasicInfo" />
            <div class="col-xs-12">
                <table class="table">
                    <tbody>
                        <tr>
                            <td><strong>Total Value </strong></td>
                            <td class="text-right"><span> ? </span></td>
                        </tr>
                        <tr>
                            <td><strong>State Bldg Code Fee </strong></td>
                            <td class="text-right"><span> @Html.DisplayFor(model => model.StateBuildingExtendedAmount) </span></td>
                        </tr>
                        <tr>
                            <td><strong>@Html.DisplayNameFor(model => model.NumberOfUnits) </strong></td>
                            <td class="text-right"><span> @Html.DisplayFor(model => model.NumberOfUnits) </span></td>
                        </tr>
                        <tr>
                            <td><strong>@Html.DisplayNameFor(model => model.ExtendedAmount) </strong></td>
                            <td class="text-right"><span> @Html.DisplayFor(model => model.ExtendedAmount) </span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
