@model GrantCountyAs400.Web.ViewModels.BuildingVM.TotalFeesDetailsViewModel
@{
    ViewData["Title"] = "Total fees";
}

<h2>Total fees</h2>

<div>
    <div class="entity-details row">
        <div class="entity-info clearfix">
            <partial name="_Header" for="@Model.BasicInfo" />
            <div class="col-xs-6">
                <table class="table">
                    <tbody>
                        <tr>
                            <td><strong>@Html.DisplayNameFor(model => model.TotalValue) </strong></td>
                            <td class="text-right"><span> @Html.DisplayFor(model => model.TotalValue) </span></td>
                        </tr>
                        <tr>
                            <td><strong>@Html.DisplayNameFor(model => model.TotalFeesDue) </strong></td>
                            <td class="text-right"><span> @Html.DisplayFor(model => model.TotalFeesDue) </span></td>
                        </tr>
                        <tr>
                            <td><strong>@Html.DisplayNameFor(model => model.TotalPaid) </strong></td>
                            <td class="text-right"><span> @Html.DisplayFor(model => model.TotalPaid) </span></td>
                        </tr>
                        <tr>
                            <td>-----</td>
                            <td>-----</td>
                        </tr>
                        <tr>
                            <td><strong>@Html.DisplayNameFor(model => model.BalanceDue) </strong></td>
                            <td class="text-right"><span> @Html.DisplayFor(model => model.BalanceDue) </span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-xs-6">
                <table class="table">
                    <tbody>
                        <tr>
                            <td><strong>@Html.DisplayNameFor(model => model.StateClassification) </strong></td>
                            <td class="text-right"><span> @Html.DisplayFor(model => model.StateClassification) </span></td>
                            <td>Grading</td>
                        </tr>
                        <tr>
                            <td><strong>@Html.DisplayNameFor(model => model.ProjectedExpireDate) </strong></td>
                            <td class="text-right"><span> @Html.DisplayFor(model => model.ProjectedExpireDate) </span></td>
                        </tr>
                        <tr>
                            <td><strong>Permit Expired</strong></td>
                            <td class="text-right"><span> @Html.DisplayFor(model => model.ActualExpireDate) </span></td>
                        </tr>
                        <tr>
                            <td><strong>@Html.DisplayNameFor(model => model.ByUser) </strong></td>
                            <td class="text-right"><span> @Html.DisplayFor(model => model.ByUser) </span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
