@model GrantCountyAs400.Web.ViewModels.Assessment.BuildingPermits.HistoricValuesViewModel

<div class="col-xs-6">
    <table class="table">
        <tbody>
            <tr>
                <td><strong>@Html.DisplayNameFor(model => model.ParcelNumber) </strong></td>
                <td class="text-right"><span> @Html.DisplayFor(model => model.ParcelNumber) </span></td>
            </tr>
            <tr>
                <td><strong>@Html.DisplayNameFor(model => model.TaxYear) </strong></td>
                <td class="text-right"><span> @Html.DisplayFor(model => model.TaxYear) </span></td>
            </tr>
            <tr>
                <td><strong>@Html.DisplayNameFor(model => model.RevaluationPhase) </strong></td>
                <td class="text-right"><span> @Html.DisplayFor(model => model.RevaluationPhase) </span></td>
            </tr>
            <tr>
                <td><strong>@Html.DisplayNameFor(model => model.TaxPayerCode) </strong></td>
                <td class="text-right"><span> @Html.DisplayFor(model => model.TaxPayerCode) </span></td>
            </tr>
            <tr>
                <td><strong>@Html.DisplayNameFor(model => model.DescriptionDisplay) </strong></td>
                <td class="text-right"><span> @Html.DisplayFor(model => model.DescriptionDisplay) </span></td>
            </tr>
    </table>
</div>
<div class="col-xs-6">
    <table class="table">
        <tbody>
            <tr>
                <td><strong>@Html.DisplayNameFor(model => model.LandUseCode) </strong></td>
                <td class="text-right"><span> @Html.DisplayFor(model => model.LandUseCode) </span></td>
            </tr>
            <tr>
                <td><strong>@Html.DisplayNameFor(model => model.TaxStatus) </strong></td>
                <td class="text-right"><span> @Html.DisplayFor(model => model.TaxStatus) </span></td>
            </tr>
            <tr>
                <td><strong>@Html.DisplayNameFor(model => model.TaxCodeArea) </strong></td>
                <td class="text-right"><span> @Html.DisplayFor(model => model.TaxCodeArea) </span></td>
            </tr>
            <tr>
                <td><strong>@Html.DisplayNameFor(model => model.BuildingValue) </strong></td>
                <td class="text-right"><span> @Html.DisplayFor(model => model.BuildingValue) </span></td>
            </tr>
            <tr>
                <td><strong>@Html.DisplayNameFor(model => model.LandValueDisplay) </strong></td>
                <td class="text-right"><span> @Html.DisplayFor(model => model.LandValueDisplay) </span></td>
            </tr>
            <tr>
                <td><strong>@Html.DisplayNameFor(model => model.BuildingValueDisplay) </strong></td>
                <td class="text-right"><span> @Html.DisplayFor(model => model.BuildingValueDisplay) </span></td>
            </tr>
</table>
</div>