@model IEnumerable<AssociatedPersonMainViewModel>
@using GrantCountyAs400.Web.ViewModels.Assessment.AssociatedPerson
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@{
    ViewData["Title"] = "Associated Person - Index";
    var filterViewModel = ViewBag.FilterViewModel as AssociatedPersonFilterViewModel;
}
<h2>Associated Person - Index</h2>

<p>
    @using (Html.BeginForm("Index", "AssociatedPersons", FormMethod.Get))
    {
        <div class="form-horizontal">
            <hr />
            <div class="form-group">
                <label asp-for="@filterViewModel.ParcelNumber" class="control-label col-md-2"></label>

                <div class="col-md-10">
                    <input type="number" asp-for="@filterViewModel.ParcelNumber" name="parcelnumber" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="@filterViewModel.NameCode" class="control-label col-md-2"></label>

                <div class="col-md-10">
                    @Html.EditorFor(model => filterViewModel.NameCode, null, "namecode", new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <div class="form-group pull-right">
                        <input type="submit" value="Filter" class="btn btn-success" />
                        <input type="reset" value="Clear" class="btn btn-default" id="btnReset" />
                    </div>
                </div>
            </div>
        </div>
    }
</p>
<nav aria-label="navigation">
    @Html.PagedListPager((IPagedList)Model, pageNumber => Url.Action("Index", new {
    pageNumber = pageNumber,
    parcelnumber = filterViewModel.ParcelNumber,
    namecode=filterViewModel.NameCode,
}))
</nav>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ParcelNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @{ var parcelNumber = filterViewModel.ParcelNumber != 0 ? filterViewModel.ParcelNumber : item.ParcelNumber;
                        var nameCode = !string.IsNullOrWhiteSpace(filterViewModel.NameCode) ? filterViewModel.NameCode : "";}
                    <a asp-action="Details" asp-route-parcelNumber="@parcelNumber" asp-route-nameCode="@nameCode">
                        @Html.DisplayFor(modelItem => item.ParcelNumber)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NameCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>
            </tr>
        }
    </tbody>
</table>

<nav aria-label="navigation">
    @Html.PagedListPager((IPagedList)Model, pageNumber => Url.Action("Index", new {
    pageNumber = pageNumber,
    parcelnumber = filterViewModel.ParcelNumber,
    namecode = filterViewModel.NameCode
}))
</nav>

@section Scripts {

    <script type="text/javascript">
        $(function () {
            $('.date-datepicker').datetimepicker({
                format: 'MM/DD/YYYY',
                showTodayButton: true,
                ignoreReadonly: true,
                showClear: true,
                useCurrent: false,
            });
        });
    </script>
}