@model AssociatedPersonViewModel
@using GrantCountyAs400.Web.ViewModels.Assessment.AssociatedPerson



@{
    ViewData["Title"] = "Associated person item detail - Detail";
    var filterViewModel = ViewBag.FilterViewModel as AssociatedPersonFilterViewModel;
}
<h2>Associated Person Detail </h2>


<div class="entity-details">
    <div class="entity-info clearfix">
        <div class="col-xs-6">
            <table class="table col-xs-6">
                <tbody>
                    <tr>
                        <td><strong>@Html.DisplayNameFor(model => model.ParcelNumber) </strong></td>
                        <td class="text-right"><span> @Html.DisplayFor(model => model.ParcelNumber) </span></td>
                    </tr>
                    <tr>
                        <td><strong>@Html.DisplayNameFor(model => model.TaxPayer) </strong></td>
                        <td class="text-right"><span> @Html.DisplayFor(model => model.TaxPayer) </span></td>
                    </tr>
                    <tr>
                        <td><strong>@Html.DisplayNameFor(model => model.Description) </strong></td>
                        <td class="text-right">
                            <span> @Html.DisplayFor(model => model.Description) </span>
                            <br />
                            <span> @Html.DisplayFor(model => model.SecondDescription) </span>
                            <br />
                            <span> @Html.DisplayFor(model => model.ThirdDescription) </span>
                            <br />
                            <span> @Html.DisplayFor(model => model.FourthDescrition) </span>
                            <br />
                            <span> @Html.DisplayFor(model => model.FifthDescription) </span>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>@Html.DisplayNameFor(model => model.LineDate) </strong></td>
                        <td class="text-right">
                            <span> @Html.DisplayFor(model => model.LineDate) </span>
                        </td>
                        <td><strong>@Html.DisplayNameFor(model => model.AffidavitNumber) </strong></td>
                        <td class="text-right">
                            <span> @Html.DisplayFor(model => model.AffidavitNumber) </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs-6">
            <table class="table col-xs-6">
                <tbody>
                    <tr>
                        <td><strong>@Html.DisplayNameFor(model => model.Owner) </strong></td>
                        <td class="text-right"><span> @Html.DisplayFor(model => model.Owner) </span></td>
                    </tr>
                    <tr>
                        <td><strong>@Html.DisplayNameFor(model => model.LandUse) </strong></td>
                        <td class="text-right"><span> @Html.DisplayFor(model => model.LandUse) </span></td>
                    </tr>
                    <tr>
                        <td><strong>@Html.DisplayNameFor(model => model.ZoneCodeDescr) </strong></td>
                        <td class="text-right"><span> @Html.DisplayFor(model => model.ZoneCodeDescr) </span></td>
                    </tr>
                    <tr>
                        <td><strong>@Html.DisplayNameFor(model => model.TaxCodeDesc) </strong></td>
                        <td class="text-right"><span> @Html.DisplayFor(model => model.TaxCodeDesc) </span></td>
                    </tr>
                    <tr>
                        <td><strong>@Html.DisplayNameFor(model => model.FirePatrolAcres) </strong></td>
                        <td class="text-right"><span> @Html.DisplayFor(model => model.FirePatrolAcres) </span></td>
                    </tr>
                    <tr>
                        <td><strong>@Html.DisplayNameFor(model => model.TotalAcres) </strong></td>
                        <td class="text-right"><span> @Html.DisplayFor(model => model.TotalAcres) </span></td>
                    </tr>
                    <tr>
                        <td><strong>@Html.DisplayNameFor(model => model.FMImprovedLandValue) </strong></td>
                        <td class="text-right"><span> @Html.DisplayFor(model => model.FMImprovedLandValue) </span></td>
                        <td><strong>@Html.DisplayNameFor(model => model.BuildingValue) </strong></td>
                        <td class="text-right"><span> @Html.DisplayFor(model => model.BuildingValue) </span></td>
                    </tr>
                    <tr>
                        <td><strong>@Html.DisplayNameFor(model => model.AffidavitTaxYear) </strong></td>
                        <td class="text-right"><span> @Html.DisplayFor(model => model.AffidavitTaxYear) </span></td>
                        <td><strong>@Html.DisplayNameFor(model => model.BuildingValue) </strong></td>
                        <td class="text-right"><span> @Html.DisplayFor(model => model.BuildingValue) </span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


    <div class="col-xs-6">
        <table class="table col-xs-6">
            <tbody>
                <tr>
                    <td><strong>@Html.DisplayNameFor(model => model.NameCode) </strong></td>
                    <td class="text-right"><span> @Html.DisplayFor(model => model.NameCode) </span></td>
                </tr>
                <tr>
                    <td><strong>@Html.DisplayNameFor(model => model.Name) </strong></td>
                    <td class="text-right"><span> @Html.DisplayFor(model => model.Name) </span></td>
                </tr>
                <tr>
                    <td><strong>@Html.DisplayNameFor(model => model.AddressLine1) </strong></td>
                    <td class="text-right"><span> @Html.DisplayFor(model => model.AddressLine1) </span></td>
                </tr>
                <tr>
                    <td></td>
                    <td class="text-right"><span> @Html.DisplayFor(model => model.LocalAddress) </span></td>
                </tr>
                <tr>
                    <td><strong>@Html.DisplayNameFor(model => model.Comments) </strong></td>
                    <td class="text-right"><span> @Html.DisplayFor(model => model.Comments) </span></td>
                </tr>
                <tr>
                    <td><strong>@Html.DisplayNameFor(model => model.ChangeId) </strong></td>
                    <td class="text-right"><span> @Html.DisplayFor(model => model.ChangeId) </span></td>
                </tr>
                <tr>
                    <td><strong>@Html.DisplayNameFor(model => model.ChangeDate) </strong></td>
                    <td class="text-right"><span> @Html.DisplayFor(model => model.ChangeDate) </span></td>
                </tr>

            </tbody>
        </table>
    </div>

