@model IEnumerable<AccountPayrollViewModel>
@using GrantCountyAs400.Web.ViewModels.AccountingVM.AccountPayroll
@{
    ViewData["Title"] = "Export Account Payroll As Pdf";
}

<h2>Export Account Payroll As Pdf</h2>
<div class="nested-tables">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PersonNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SSNumberDisplay)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="parent-row">
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PersonNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SSNumberDisplay)
                    </td>
                </tr>
                <tr>
                    <td colspan="100">
                        <div class="row clearfix bold">
                            <div class="col-xs-2">
                                @Html.DisplayNameFor(modelItem => item.PayrollWarrants.FirstOrDefault().WarrantNumber)
                            </div>
                            <div class="col-xs-1 no-pad-horizontal">
                                @Html.DisplayNameFor(modelItem => item.PayrollWarrants.FirstOrDefault().CheckNumber)
                            </div>
                            <div class="col-xs-2 no-pad-horizontal">
                                @Html.DisplayNameFor(modelItem => item.PayrollWarrants.FirstOrDefault().Date)
                            </div>
                            <div class="col-xs-1 no-pad-horizontal">
                                @Html.DisplayNameFor(modelItem => item.PayrollWarrants.FirstOrDefault().Gross)
                            </div>
                            <div class="col-xs-1 no-pad-horizontal">
                                @Html.DisplayNameFor(modelItem => item.PayrollWarrants.FirstOrDefault().Fica)
                            </div>
                            <div class="col-xs-1 no-pad-horizontal">
                                @Html.DisplayNameFor(modelItem => item.PayrollWarrants.FirstOrDefault().Medical)
                            </div>
                            <div class="col-xs-1 no-pad-horizontal">
                                @Html.DisplayNameFor(modelItem => item.PayrollWarrants.FirstOrDefault().RetirementPay)
                            </div>
                            <div class="col-xs-1 no-pad-horizontal">
                                @Html.DisplayNameFor(modelItem => item.PayrollWarrants.FirstOrDefault().RetirementBenefitsEmployer)
                            </div>
                            <div class="col-xs-1">
                                @Html.DisplayNameFor(modelItem => item.PayrollWarrants.FirstOrDefault().NetPay)
                            </div>
                            <div class="col-xs-1">
                                @Html.DisplayNameFor(modelItem => item.PayrollWarrants.FirstOrDefault().HoursWorked)
                            </div>
                        </div>
                    </td>
                </tr>
                @foreach (var warrant in item.PayrollWarrants)
                {
                    <tr class="data">
                        <td colspan="100">
                            <div class="row clearfix">
                                <div class="col-xs-2">
                                    @Html.DisplayFor(modelItem => warrant.WarrantNumber)
                                </div>
                                <div class="col-xs-1 no-pad-horizontal">
                                    @Html.DisplayFor(modelItem => warrant.CheckNumber)
                                </div>
                                <div class="col-xs-2 no-pad-horizontal">
                                    @Html.DisplayFor(modelItem => warrant.Date)
                                </div>
                                <div class="col-xs-1 no-pad-horizontal">
                                    @Html.DisplayFor(modelItem => warrant.Gross)
                                </div>
                                <div class="col-xs-1 no-pad-horizontal">
                                    @Html.DisplayFor(modelItem => warrant.Fica)
                                </div>
                                <div class="col-xs-1 no-pad-horizontal">
                                    @Html.DisplayFor(modelItem => warrant.Medical)
                                </div>
                                <div class="col-xs-1 no-pad-horizontal">
                                    @Html.DisplayFor(modelItem => warrant.RetirementPay)
                                </div>
                                <div class="col-xs-1 no-pad-horizontal">
                                    @Html.DisplayFor(modelItem => warrant.RetirementBenefitsEmployer)
                                </div>
                                <div class="col-xs-1">
                                    @Html.DisplayFor(modelItem => warrant.NetPay)
                                </div>
                                <div class="col-xs-1">
                                    @Html.DisplayFor(modelItem => warrant.HoursWorked)
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>