@model IEnumerable<AccountPayrollViewModel>
@using GrantCountyAs400.Web.ViewModels.AccountingVM.AccountPayroll
@using X.PagedList.Mvc.Core;
@using GrantCountyAs400.Web.Extensions;
@using X.PagedList;
@{
    ViewData["Title"] = "Payroll - Index";
    var filterViewModel = ViewBag.FilterViewModel as AccountPayrollFilterViewModel;
}

<h2>Payroll</h2>

<p>
    @using (Html.BeginForm("Index", "AccountPayrollController", FormMethod.Get))
    {
        <div class="form-horizontal">
            <hr />
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="@filterViewModel.FirstName" class="control-label col-md-2"></label>
                        <div class="col-md-10">
                            <input type="text" asp-for="@filterViewModel.FirstName" name="firstname" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="@filterViewModel.LastName" class="control-label col-md-2"></label>
                        <div class="col-md-10">
                            <input type="text" asp-for="@filterViewModel.LastName" name="lastname" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="@filterViewModel.SSN" class="control-label col-md-2"></label>
                        <div class="col-md-10">
                            <input type="text" asp-for="@filterViewModel.SSN" name="ssn" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="@filterViewModel.EmployeeNumber" class="control-label col-md-2"></label>
                        <div class="col-md-10">
                            <input type="text" asp-for="@filterViewModel.EmployeeNumber" name="employeenumber" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="@filterViewModel.MinDate" class="control-label col-md-2"></label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => filterViewModel.MinDate, null, "mindate", new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="@filterViewModel.MaxDate" class="control-label col-md-2"></label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => filterViewModel.MaxDate, null, "maxdate", new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="form-group pull-right">
                    <input type="submit" value="Filter" class="btn btn-success" />
                    <input type="reset" value="Clear" class="btn btn-default" id="btnReset" />
                </div>
            </div>
        </div>
    }
</p>

<div class="row col-md-12 pad-bottom-15">
    @if (Model.Any())
    {
        <div class="row">
            <div class="dropdown pull-right">
                <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">
                    <i class="glyphicon glyphicon-download-alt"></i>&nbsp;&nbsp;Export
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="export" target="_blank" href="@Url.Action("ExportAccountPayrollAsExcel", "AccountPayroll")?@filterViewModel.GetQueryString()">Export To Excel</a></li>
                    <li><a class="export" target="_blank" href="@Url.Action("ExportAccountPayrollAsPdf", "AccountPayroll")?@filterViewModel.GetQueryString()">Export To PDF</a></li>
                </ul>
            </div>
        </div>
    }
</div>

<nav aria-label="navigation">
    @Html.PagedListPager((IPagedList)Model, pageNumber => Url.Action("Index", new {
    pageNumber = pageNumber,
    firstname = filterViewModel.FirstName,
    lastname = filterViewModel.LastName,
    ssn = filterViewModel.SSN,
    employeenumber = filterViewModel.EmployeeNumber,
    mindate = filterViewModel.MinDate,
    maxdate = filterViewModel.MaxDate
}))
</nav>

<table class="table">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SSNumberDisplay)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a class="toggle-row-details" data-toggle="collapse" data-target="#@item.Id" aria-expanded="false" aria-controls="@item.Id">
                        <i class="glyphicon glyphicon-chevron-right pull-right"></i>
                        <i class="glyphicon glyphicon-chevron-down pull-right"></i>
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PersonNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SSNumberDisplay)
                </td>
            </tr>
            <tr class="row-details">
                <td colspan="100">
                    <div class="collapse" id="@item.Id">
                        <table class="table table-hover">
                            <thead class="thead-light">
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(modelItem => item.PayrollWarrants.FirstOrDefault().WarrantNumber)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(modelItem => item.PayrollWarrants.FirstOrDefault().CheckNumber)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(modelItem => item.PayrollWarrants.FirstOrDefault().Date)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(modelItem => item.PayrollWarrants.FirstOrDefault().Gross)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(modelItem => item.PayrollWarrants.FirstOrDefault().Fica)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(modelItem => item.PayrollWarrants.FirstOrDefault().Medical)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(modelItem => item.PayrollWarrants.FirstOrDefault().RetirementPay)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(modelItem => item.PayrollWarrants.FirstOrDefault().RetirementBenefitsEmployer)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(modelItem => item.PayrollWarrants.FirstOrDefault().NetPay)
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var warrant in item.PayrollWarrants)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => warrant.WarrantNumber)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => warrant.CheckNumber)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => warrant.Date)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => warrant.Gross)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => warrant.Fica)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => warrant.Medical)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => warrant.RetirementPay)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => warrant.RetirementBenefitsEmployer)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => warrant.NetPay)
                                        </td>
                                    </tr>
                                }
                            <tbody>
                        </table>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<nav aria-label="navigation">
    @Html.PagedListPager((IPagedList)Model, pageNumber => Url.Action("Index", new {
    pageNumber = pageNumber,
    firstname = filterViewModel.FirstName,
    lastname = filterViewModel.LastName,
    ssn = filterViewModel.SSN,
    employeenumber = filterViewModel.EmployeeNumber,
    mindate = filterViewModel.MinDate,
    maxdate = filterViewModel.MaxDate
}))
</nav>

@section Scripts {
    <script type="text/javascript">
        $(function () {
            $('.date-datepicker').datetimepicker({
                format: 'MM/DD/YYYY',
                showTodayButton: true,
                ignoreReadonly: true,
                showClear: true,
                useCurrent: false,
            });

        });
    </script>
}