@model IEnumerable<GrantCountyAs400.Web.ViewModels.AccountingVM.PersonnelViewModel>
@using X.PagedList.Mvc.Core;
@using GrantCountyAs400.Web.ViewModels.AccountingVM
@using X.PagedList;

@{
    ViewData["Title"] = "Personnel";
    var filterViewModel = ViewBag.FilterViewModel as AccountingFilterVm;
}

<h2>Employees</h2>

<p>
    @using (Html.BeginForm("Index", "Personnel", FormMethod.Get))
    {
        <div class="form-horizontal">
            <hr />
            <div class="form-group">
                @Html.LabelFor(model => filterViewModel.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => filterViewModel.FirstName, null, "firstname", new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => filterViewModel.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => filterViewModel.LastName, null, "lastname", new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => filterViewModel.SSN, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => filterViewModel.SSN, null, "ssn", new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <div class="form-group pull-right">
                        <input type="submit" value="Filter" class="btn btn-success" />
                        <input type="button" value="Clear" class="btn btn-default" id="btnReset" />
                    </div>
                </div>
            </div>
        </div>
    }
</p>

<nav aria-label="navigation">
    @Html.PagedListPager((IPagedList)Model, pageNumber => Url.Action("Index", new {
    pageNumber = pageNumber,
    firstname = filterViewModel.FirstName,
    lastname = filterViewModel.LastName,
    status = filterViewModel.SSN
}))
</nav>

<table class="table">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().HasContracts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().PersonNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().SSNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a class="toggle-row-details" data-toggle="collapse" data-target="#@item.Id" aria-expanded="false" aria-controls="@item.Id">
                        <i class="glyphicon glyphicon-chevron-right pull-right"></i>
                        <i class="glyphicon glyphicon-chevron-down pull-right"></i>
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HasContracts)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PersonNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SSNumber)
                </td>
            </tr>
            <tr class="row-details">
                <td colspan="100">
                    <div class="collapse" id="@item.Id">
                        <table class="table table-hover">
                            <thead class="thead-light">
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(modelItem => item.Contracts.FirstOrDefault().Organization)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(modelItem => item.Contracts.FirstOrDefault().Status)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(modelItem => item.Contracts.FirstOrDefault().CountDisplay)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(modelItem => item.Contracts.FirstOrDefault().PayCode)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(modelItem => item.Contracts.FirstOrDefault().Rate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(modelItem => item.Contracts.FirstOrDefault().Table)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(modelItem => item.Contracts.FirstOrDefault().Grade)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(modelItem => item.Contracts.FirstOrDefault().Step)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(modelItem => item.Contracts.FirstOrDefault().JobCode)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(modelItem => item.Contracts.FirstOrDefault().HireDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(modelItem => item.Contracts.FirstOrDefault().TerminationDate)
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var contract in item.Contracts)
                                {
                                    <tr>
                                        <td>
                                            <a asp-action="Details" asp-route-id="@contract.Id">@contract.Organization.DisplayName</a>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => contract.Status)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => contract.CountDisplay)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => contract.PayCode)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => contract.Rate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => contract.Table)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => contract.Grade)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => contract.Step)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => contract.JobCode)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => contract.HireDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => contract.TerminationDate)
                                        </td>
                                    </tr>
                                }
                            <tbody>
                        </table>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<nav aria-label="navigation">
    @Html.PagedListPager((IPagedList)Model, pageNumber => Url.Action("Index", "Personnel", new {
    pageNumber = pageNumber,
    firstname = filterViewModel.FirstName,
    lastname = filterViewModel.LastName,
    sSN = filterViewModel.SSN
}))
</nav>
<style>
    tr.row-details td, tr.row-details th {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    tr.row-details td {
        border: none !important;
    }

    a.toggle-row-details {
        display: inline-block;
    }

        a.toggle-row-details[aria-expanded=true] .glyphicon-chevron-right {
            display: none;
        }

        a.toggle-row-details[aria-expanded=false] .glyphicon-chevron-down {
            display: none;
        }
</style>