@model GrantCountyAs400.Web.ViewModels.Assessment.ChildParentParcel.ChildParentParcelDetailsViewModel

@{
    ViewData["Title"] = Model.ParentParcel + " - Details";
}

<div>
    <h2>@Html.DisplayFor(model => model.ParentParcel)</h2>

    <div class="entity-details">
        <div class="entity-info clearfix">
            <div class="col-xs-6">
                <table class="table col-xs-6">
                    <tbody>
                        <tr>
                            <td><strong>@Html.DisplayNameFor(model => model.ChildParcel) </strong></td>
                            <td class="text-right"><span> @Html.DisplayFor(model => model.ChildParcel) </span></td>
                        </tr>
                        <tr>
                            <td><strong>@Html.DisplayNameFor(model => model.TaxPayerName) </strong></td>
                            <td class="text-right"><span> @Html.DisplayFor(model => model.TaxPayerName) </span></td>
                        </tr>
                        <tr>
                            <td><strong>@Html.DisplayNameFor(model => model.TitleOwnerName) </strong></td>
                            <td class="text-right"><span> @Html.DisplayFor(model => model.TitleOwnerName) </span></td>
                        </tr>
                        <tr>
                            <td><strong>@Html.DisplayNameFor(model => model.TaxStatus) </strong></td>
                            <td class="text-right">
                                <span> @Html.DisplayFor(model => model.TaxStatus) </span>
                                <span> @Html.DisplayFor(model => model.TaxStatusDisplay) </span>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Base Description </strong></td>
                            <td class="text-right">
                                @foreach (var description in Model.Descriptions)
                                {
                                    <span>@description</span><br />
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-xs-6">
                <table class="table col-xs-6">
                    <tbody>
                        <tr>
                            <td><strong>@Html.DisplayNameFor(model => model.RecordCode) </strong></td>
                            <td class="text-right"><span> @Html.DisplayFor(model => model.RecordCode) </span></td>
                        </tr>
                        <tr>
                            <td><strong>@Html.DisplayNameFor(model => model.EffectiveDate) </strong></td>
                            <td class="text-right"><span> @Html.DisplayFor(model => model.EffectiveDate) </span></td>
                        </tr>
                        <tr>
                            <td><strong>@Html.DisplayNameFor(model => model.SegCombDate) </strong></td>
                            <td class="text-right"><span> @Html.DisplayFor(model => model.SegCombDate) </span></td>
                        </tr>
                        <tr>
                            <td><strong>@Html.DisplayNameFor(model => model.ReferenceNumber) </strong></td>
                            <td class="text-right"><span> @Html.DisplayFor(model => model.ReferenceNumber) </span></td>
                        </tr>
                        <tr>
                            <td><strong>@Html.DisplayNameFor(model => model.LegalDocumentType) </strong></td>
                            <td class="text-right"><span> @Html.DisplayFor(model => model.LegalDocumentType) </span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <p>
            <hr />
        </p>
        <div id="related-info">
            <div class="col-md-12">
                <h3>Children Parcels</h3>
                @if (Model.Children.Any())
                {
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(modelItem => Model.Children.FirstOrDefault().ParcelNumber)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(modelItem => Model.Children.FirstOrDefault().EffectiveDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(modelItem => Model.Children.FirstOrDefault().SegCombDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(modelItem => Model.Children.FirstOrDefault().ReferenceNumber)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(modelItem => Model.Children.FirstOrDefault().LegalDocumentType)
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var childParcel in Model.Children)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => childParcel.ParcelNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => childParcel.EffectiveDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => childParcel.SegCombDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => childParcel.ReferenceNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => childParcel.LegalDocumentType)
                                    </td>
                                </tr>
                            }
                        <tbody>
                    </table>
                }
                else
                {
                    <p class="empty-results">
                        <span class="label label-info label-small">No child parcels found for parcel @Model.ChildParcel</span>
                    </p>
                }
            </div>
        </div>
    </div>
    <a asp-action="Index">Back to List</a>
</div>