@model IEnumerable<ParentParcelViewModel>
@using GrantCountyAs400.Web.ViewModels.Assessment.ChildParentParcel
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@{
    ViewData["Title"] = "Child Parent Parcels - Index";
    var filterViewModel = ViewBag.FilterViewModel as ChildParentParcelFilterViewModel;
}
<h2>Child Parent Parcels</h2>

<p>
    @using (Html.BeginForm("Index", "ChildParentParcel", FormMethod.Get))
    {
        <div class="form-horizontal">
            <hr />
            <div class="form-group">
                <label asp-for="@filterViewModel.ParcelNumber" class="control-label col-md-2"></label>

                <div class="col-md-10">
                    <input type="number" asp-for="@filterViewModel.ParcelNumber" name="parcelnumber" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="@filterViewModel.EffectiveDate" class="control-label col-md-2"></label>

                <div class="col-md-10">
                    @Html.EditorFor(model => filterViewModel.EffectiveDate, null, "effectivedate", new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group">
                <label asp-for="@filterViewModel.LegalDocumentType" class="control-label col-md-2"></label>

                <div class="col-md-10">
                    <input type="text" asp-for="@filterViewModel.LegalDocumentType" name="legaldocumenttype" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <div class="form-group pull-right">
                        <input type="submit" value="Filter" class="btn btn-success" />
                        <input type="reset" value="Clear" class="btn btn-default" id="btnReset" />
                    </div>
                </div>
            </div>
        </div>
    }
</p>
<nav aria-label="navigation">
    @Html.PagedListPager((IPagedList)Model, pageNumber => Url.Action("Index", new {
    pageNumber = pageNumber,
    parcelnumber = filterViewModel.ParcelNumber,
    effectivedate=filterViewModel.EffectiveDate,
    legaldocumenttype=filterViewModel.LegalDocumentType
}))
</nav>

<table class="table">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParcelNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaxPayerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TitleOwnerName)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a class="toggle-row-details" data-toggle="collapse" data-target="#@item.ParcelNumber" aria-expanded="false" aria-controls="@item.ParcelNumber">
                        <i class="glyphicon glyphicon-chevron-right pull-right"></i>
                        <i class="glyphicon glyphicon-chevron-down pull-right"></i>
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ParcelNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TaxPayerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TitleOwnerName)
                </td>
            </tr>
            <tr class="row-details">
                <td colspan="100">
                    <div class="collapse" id="@item.ParcelNumber">
                        <table class="table table-hover">
                            <thead class="thead-light">
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(modelItem => item.Children.FirstOrDefault().ParcelNumber)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(modelItem => item.Children.FirstOrDefault().EffectiveDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(modelItem => item.Children.FirstOrDefault().SegCombDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(modelItem => item.Children.FirstOrDefault().ReferenceNumber)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(modelItem => item.Children.FirstOrDefault().LegalDocumentType)
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var childParcel in item.Children)
                                {
                                    <tr>
                                        <td>
                                            <a asp-action="Details" asp-route-id="@childParcel.Id">
                                                @Html.DisplayFor(modelItem => childParcel.ParcelNumber)
                                            </a>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => childParcel.EffectiveDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => childParcel.SegCombDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => childParcel.ReferenceNumber)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => childParcel.LegalDocumentType)
                                        </td>
                                    </tr>
                                }
                            <tbody>
                        </table>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<nav aria-label="navigation">
    @Html.PagedListPager((IPagedList)Model, pageNumber => Url.Action("Index", new {
    pageNumber = pageNumber,
    parcelnumber = filterViewModel.ParcelNumber,
    effectivedate = filterViewModel.EffectiveDate,
    legaldocumenttype = filterViewModel.LegalDocumentType
}))
</nav>

@section Scripts {

    <script type="text/javascript">
        $(function () {
            $('.date-datepicker').datetimepicker({
                format: 'MM/DD/YYYY',
                showTodayButton: true,
                ignoreReadonly: true,
                showClear: true,
                useCurrent: false,
            });
        });
    </script>
}